.navigation {
    position:relative;
    height:400px;
    width:100%;
    overflow:hidden;
    font-family:'Ubuntu Condensed',sans-serif;
}

.navigation > .navigation-background {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-size:cover;
    background-size:fixed;
    background-repeat:no-repeat;
    filter:brightness(50%);
}

.navigation > .content {
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
}

.navigation > .content > .heading {
    margin-right:500px;
    border:2px solid lightpink;
    background-color:lightpink;
    width:160px;
    text-align:center;
}

.navigation > .content > .links {
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    width:400px;
}

.navigation > .content > .links a {
    color:white;
    width:100px;
    font-weight:600;
    display: inline-block;
    text-decoration:none;
    transition:0.5s, letter-spacing 0.5s;
}

.navigation > .content > .links a:hover {
    letter-spacing:2px;
    text-align:center;
}

.cake-content {
    margin:100px;
}

.cake {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    text-align: center;
    padding:20px;
    margin-bottom:60px;
    border:2px solid black;
    width:800px;
    margin-left:100px;
    transition:transform 0.5s ease;
}

.cake:hover {
    transform:scale(1.05);
    background-color:white;
    border:3px solid black;
}

.cake-image img {
    height:350px;
    width:300px;
}

.cake-content > .cake > .cake-description > .price {
    color:rgb(199, 22, 93);
    font-weight:700;
    margin-top:80px;
    font-style:italic;
    font-size:1.2em;
}